{% extends "layout.html" %}
{% block title %}
Add Questions
{% endblock %}

{% block main %}
    <form action="/addquestion" method="post">
            <input autocomplete="off" autofocus class="form-control" id="question" name="question" placeholder="Question" type="text"><br>
            <input autocomplete="off" autofocus class="form-control" id="answer" name="answer" placeholder="Answer" type="text"><br>
            <select class="form-select" id="category" name="category">
                <option disabled selected value="">Category</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <select class="form-select" id="tag" name="tag"> 
                <option disabled selected value="">Tag</option>
                {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        <button class="btn-primary" type="submit">Add Question</button>
    </form>
{% endblock %}
