{% extends 'layout.html' %}
{% block title %}
Quiz Setup
{% endblock %}

{% block main %}
<h1>Setup your quiz!</h1>
<form action="/quiz_setup" method="post" class='quiz-setup-form'>
    <input class="form-input"autocomplete="off" autofocus id="num_quest" name="num_quest" placeholder="Number of questions" type="text">
    <br>
    <select id="tag" name="tag" class='form-select'>
        <option disabled selected value="">Tag</option>
        {% for tag in tags %}
        <option value='{{ tag }}'>{{ tag }}</option>
        {% endfor %}
    </select>
    <button type="submit" class='form-button'>Start Quiz</button>
</form>
{% endblock %}
